<head>
  <link rel="stylesheet" href="/css/comment-editor.css">
</head>

<form class="comment-editor" data-parent-id="{{parentId}}" data-article-id="{{articleId}}">
  <textarea name="comment" placeholder="Write a comment..." required></textarea>
  <button type="submit" class="post-btn">Post</button>
</form>

<script src="/js/comment-editor.js"></script>
